{% extends "base.html" %}
{% block title %}
    Contacts de la famille
{% endblock title %}
{% block content %}
    <h1 class="text-2xl font-bold mt-4">LOGS</h1>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-300 ">
                <tr>
                    <th scope="col" class="px-6 py-3">Utilisateur</th>
                    <th scope="col" class="px-6 py-3">action</th>
                    <th scope="col" class="px-6 py-3">type</th>
                    <th scope="col" class="px-6 py-3">nom</th>
                    <th scope="col" class="px-6 py-3">détail</th>
                    <th scope="col" class="px-6 py-3">date</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr class="bg-white border-b border-gray-200 hover:bg-gray-50 ">
                        <th scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{ log.user }}</th>
                        <td class="px-6 py-4">{{ log.action }}</td>
                        <td class="px-6 py-4">{{ log.object_type }}</td>
                        <td class="px-6 py-4">{{ log.object_name }}</td>
                        <td class="px-6 py-4">{{ log.details }}</td>
                        <td class="px-6 py-4">{{ log.timestamp }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
