{% extends "base.html" %}
{% block content %}
    <div class="mb-6">
        <nav class="text-sm text-gray-600 mt-4 mb-4" aria-label="Breadcrumb">
            <a href="{% url 'index' %}" class="hover:text-blue-600">Accueil</a>
            <span class="mx-2">/</span>
            <a href="{% url 'inventory_list' %}" class="hover:text-blue-600">Inventaire</a>
        </nav>
        <div class="flex justify-between bg-white rounded-lg shadow-md p-6 text-3xl font-bold text-gray-800 mb-2">
            <h2>Inventaire</h2>
            <div class="text-sm font-normal text-gray-500 ml-2">
                <!-- Add Button -->
                <button onclick="toggleModal('new-item')"
                        class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 flex items-center gap-2">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                    </svg>
                    Nouveau Article
                </button>
            </div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-md p-6">
        {% block inventory_content %}
        {% endblock inventory_content %}
    </div>
{% endblock content %}
