<div class="w-full bg-white rounded-lg shadow-sm p-4 md:p-6 h-full">
    <div class="flex justify-between items-start mb-4">
        <div class="flex items-end space-x-2">
            <span class="leading-none text-3xl font-bold text-gray-900">{{ global_room_usage }}%</span>
            <h5 class="text-base font-normal text-gray-500">Utilisation des salles</h5>
        </div>
    </div>
    <div id="room-chart"></div>
</div>
<script>
    const roomUsageData = {{ room_usage_percentage|safe }};
    let roomChart = null;

    function initRoomChart() {
        const roomNames = Object.keys(roomUsageData);
        const roomPercentages = Object.values(roomUsageData);

        const options = {
            series: [{
                name: 'Utilisation (%)',
                data: roomPercentages
            }],
            chart: {
                type: 'bar',
                height: 350,
                sparkline: {
                    enabled: false
                }
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '55%',
                    borderRadius: 4,
                    distributed: true
                }
            },
            dataLabels: {
                enabled: true,
                formatter: function (val) {
                    return val + ' %';
                },
                style: {
                    fontWeight: 'bold'
                }
            },
            fill: {
                colors: ['#2563EB','#52BE78','#A8A2FB','#5B7A98','#7285B8','#48F1FE']
            },
            xaxis: {
                categories: roomNames
            },
            yaxis: {
                min: 0,
                title: {
                    text: '% utilisation'
                },
                max: Math.max(Math.max(...roomPercentages) * 1.1,10)
            },
            colors: ['#2563EB','#52BE78','#A8A2FB','#5B7A98','#7285B8','#48F1FE']
        };

        if (roomChart) {
            roomChart.destroy();
        }

        roomChart = new ApexCharts(document.querySelector("#room-chart"), options);
        roomChart.render();
    }
</script>
