<div class="w-full bg-white rounded-lg shadow-sm p-4 md:p-6 h-full">
    <div class="flex justify-between mb-3">
        <div class="flex items-center">
            <div class="flex justify-center items-center">
                <h5 class="text-xl font-bold leading-none text-gray-900 pe-1">Utilisation des vétérinaires</h5>
            </div>
        </div>
    </div>
    <div class="py-6" id="vet-radial-chart"></div>
</div>
<script>
    const vetUsageData = {{ vet_usage_percentage|safe }};
    const vetNames = Object.keys(vetUsageData);
    const vetPercentages = Object.values(vetUsageData);

    var options = {
        series: vetPercentages,
        chart: {
            type: 'radialBar',
            height: 350,
            toolbar: {
                show: true,
                tools: {
                    download: true,
                    selection: false,
                    zoom: false,
                    zoomin: false,
                    zoomout: false,
                    pan: false,
                    reset: false,
                }
            }
        },
        plotOptions: {
            radialBar: {
                dataLabels: {
                    name: {
                        fontSize: '16px'
                    },
                    value: {
                        fontSize: '14px'
                    },
                    total: {
                        show: true,
                        label: 'Total',
                        formatter: function () {
                            return Math.round(
                                vetPercentages.reduce((a, b) => a + b, 0) / vetPercentages.length
                            ) + '%';
                        }
                    }
                }
            }
        },
        labels: vetNames,
        colors: ['#48F1FE','#52BE78','#A8A2FB','#5B7A98','#7285B8','#2563EB']

    };

    var chart = new ApexCharts(document.querySelector("#vet-radial-chart"), options);
    chart.render();
</script>
