{% extends "animal/base.html" %}
{% block title %}
    Contacts de la famille
{% endblock title %}
{% block content %}
    <h1 class="text-2xl font-bold mt-4">
        Contacts de la famille de {{ animal.family.main_contact.first_name }} {{ animal.family.main_contact.last_name }}
    </h1>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-300 ">
                <tr>
                    <th scope="col" class="px-6 py-3">Prénom</th>
                    <th scope="col" class="px-6 py-3">Nom de famille</th>
                    <th scope="col" class="px-6 py-3">Téléphone</th>
                    <th scope="col" class="px-6 py-3">Email</th>
                    <th scope="col" class="px-6 py-3">Date de naissance</th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b border-gray-200 hover:bg-gray-50 ">
                    <th scope="row"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{ family_main_contact.first_name }}
                        <span class="ml-2 text-xs bg-gray-600 text-white px-2 py-1 rounded">Principal</span>
                    </th>
                    <td class="px-6 py-4">{{ family_main_contact.last_name }}</td>
                    <td class="px-6 py-4">{{ family_main_contact.phone }}</td>
                    <td class="px-6 py-4">{{ family_main_contact.email }}</td>
                    <td class="px-6 py-4">{{ family_main_contact.birthday|date:"d/m/Y" }}</td>
                    <td class="px-6 py-4 text-right">
                        <a href="#" class="font-medium text-blue-600 hover:underline">Edit</a>
                    </td>
                </tr>
                {% for contact in family_contacts %}
                    <tr class="bg-white border-b border-gray-200 hover:bg-gray-50 ">
                        <th scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            {{ contact.person.first_name }}
                        </th>
                        <td class="px-6 py-4">{{ contact.person.last_name }}</td>
                        <td class="px-6 py-4">{{ contact.person.phone }}</td>
                        <td class="px-6 py-4">{{ contact.person.email }}</td>
                        <td class="px-6 py-4">{{ contact.person.birthday|date:"d/m/Y" }}</td>
                        <td class="px-6 py-4 text-right">
                            <a href="#" class="font-medium text-blue-600 hover:underline">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
