{% extends "base.html" %}
{% block content %}
    <div class="mb-6">
        <nav class="text-sm text-gray-600 mt-4 mb-4" aria-label="Breadcrumb">
            <a href="{% url 'index' %}" class="hover:text-blue-600">Accueil</a>
            <span class="mx-2">/</span>
            <a href="{% url 'animal_list' %}" class="hover:text-blue-600">Animaux</a>
            {% if animal %}
                <span class="mx-2">/</span>
                {{ animal.name }}
            {% endif %}
        </nav>
        <div class="flex justify-between bg-white rounded-lg shadow-md p-6 text-3xl font-bold text-gray-800 mb-2">
            <h2>
                {% if animal %}
                    {{ animal.name }} {{ animal.family.main_contact.last_name }}
                    <span class="text-base font-normal text-gray-500 ml-2">(né le : {{ animal.birthday|date:"d/m/Y" }})</span>
                {% else %}
                    Animaux
                {% endif %}
            </h2>
            {% if animal %}
                <div class="text-sm font-normal text-gray-500 ml-2">
                    <button onclick="toggleModal('new-note')"
                            class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 flex items-center gap-2">
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                        </svg>
                        Nouvelle Note
                    </button>
                </div>
            {% else %}
                <div class="text-sm font-normal text-gray-500 ml-2">
                    <button onclick="toggleModal('new-animal')"
                            class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 flex items-center gap-2">
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                        </svg>
                        Nouvel Animal
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-md p-6">
        {% block animal_content %}
        {% endblock animal_content %}
    </div>
    <div id="new-animal"
         tabindex="-1"
         aria-hidden="true"
         class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <div class="relative p-4 bg-white rounded-lg shadow-sm">
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                    <h3 class="text-lg font-semibold text-gray-900">Créer un nouvel animal</h3>
                    <button type="button"
                            onclick="toggleModal('new-animal')"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
                        <svg class="w-3 h-3" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- FORM (could be improved with django forms) -->
                <form method="post" action="{% url 'add_animal' %}" class="p-4 md:p-5">
                    {% csrf_token %}
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <div class="col-span-2">
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nom de l'animal</label>
                            <input type="text"
                                   name="name"
                                   id="name"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                   placeholder="Entrer le nom de l'animal..."
                                   required="">
                        </div>
                        <div class="col-span-2">
                            <label for="federal_identification"
                                   class="block mb-2 text-sm font-medium text-gray-900">Identification fédérale</label>
                            <input type="text"
                                   name="federal_identification"
                                   id="federal_identification"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                   placeholder="Entrer l'identification fédérale..."
                                   required="">
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                            <label for="birthday" class="block mb-2 text-sm font-medium text-gray-900">Date de naissance</label>
                            <input type="date"
                                   name="birthday"
                                   id="birthday"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                   required="">
                        </div>
                        <div class="col-span-2">
                            <label for="family" class="block mb-2 text-sm font-medium text-gray-900">Contact</label>
                            <select id="family"
                                    name="family"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5">
                                <option selected="">Selectionner la famille</option>
                                {% for family in families %}
                                    <option value="{{ family.id }}">{{ family.main_contact.last_name }}, {{ family.main_contact.first_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit"
                                class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd">
                                </path>
                            </svg>
                            Ajouter l'animal
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
    function toggleModal(modalId) {
        const modal = document.getElementById(modalId);
        if (modal) {
            if (modal.classList.contains('hidden')) {
                modal.classList.remove('hidden');
                modal.classList.add('flex');
                modal.setAttribute('aria-hidden', 'false');
                document.body.style.overflow = 'hidden';
            } else {
                modal.classList.add('hidden');
                modal.classList.remove('flex');
                modal.setAttribute('aria-hidden', 'true');
                document.body.style.overflow = 'auto';
            }
    }
    }
    </script>
{% endblock content %}
