{% extends "family/base.html" %}
{% block title %}
    Family details
{% endblock title %}
{% block family_content %}
    <h3 class="text-2xl font-bold mb-4">Membres de la famille</h3>
    <div class="flex gap-6">
        <div class="flex-1">
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-300 ">
                        <tr>
                            <th scope="col" class="px-6 py-3">Prénom</th>
                            <th scope="col" class="px-6 py-3">Nom de famille</th>
                            <th scope="col" class="px-6 py-3">Téléphone</th>
                            <th scope="col" class="px-6 py-3">Email</th>
                            <th scope="col" class="px-6 py-3">Date de naissance</th>
                            <th scope="col" class="px-6 py-3">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b border-gray-200 hover:bg-gray-50 ">
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                {{ family_main_contact.first_name }}
                                <span class="ml-2 text-xs bg-gray-600 text-white px-2 py-1 rounded">Principal</span>
                            </th>
                            <td class="px-6 py-4">{{ family_main_contact.last_name }}</td>
                            <td class="px-6 py-4">{{ family_main_contact.phone }}</td>
                            <td class="px-6 py-4">{{ family_main_contact.email }}</td>
                            <td class="px-6 py-4">{{ family_main_contact.birthday|date:"d/m/Y" }}</td>
                            <td class="px-6 py-4 text-right">
                                <a href="#" class="font-medium text-blue-600 hover:underline">Edit</a>
                            </td>
                        </tr>
                        {% for contact in family_contacts %}
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50 ">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                    {{ contact.person.first_name }}
                                </th>
                                <td class="px-6 py-4">{{ contact.person.last_name }}</td>
                                <td class="px-6 py-4">{{ contact.person.phone }}</td>
                                <td class="px-6 py-4">{{ contact.person.email }}</td>
                                <td class="px-6 py-4">{{ contact.person.birthday|date:"d/m/Y" }}</td>
                                <td class="px-6 py-4 text-right">
                                    <a href="#" class="font-medium text-blue-600 hover:underline">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- form to edit a member -->
    <div id="edit-member-{{ contact.id }}"
         tabindex="-1"
         aria-hidden="true"
         class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full bg-gray-900 bg-opacity-50">
        <div class="relative p-4 w-full max-w-md max-h-full mx-auto mt-20">
            <div class="relative bg-white rounded-lg shadow-lg">
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                    <h3 class="text-lg font-semibold text-gray-900">Modifier le membre</h3>
                    <button type="button"
                            onclick="toggleModal('edit-member')"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
                        <svg class="w-3 h-3" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <form method="post" class="p-4 md:p-5">
                    {% csrf_token %}
                    <input type="hidden" name="action">
                    <div class="grid gap-4 mb-4">{{ form.as_p }}</div>
                    <button type="submit"
                            class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                        <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd">
                            </path>
                        </svg>
                        Modifier
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock family_content %}
